@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
}
@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
